* {
    margin: 0;
    padding: 0;
}

html, body, #root, #root>div {
    min-height: 100vh;
    background: linear-gradient(white, lightblue, cornflowerblue);
}

/* Stats are bolded */
div > p:first-child {
    font-weight: bold;
}

.sprite-btn {
    border: none;
    background-color: transparent;
    transition: ease-in-out 0.2s;
}

.sprite-btn:hover {
    transform: scale(1.25);
}

/* TABLET */
@media screen and (min-width: 760px) {
    #root {
        width: 95%;
        margin: auto;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    #root {
        width: 70%;
        margin: auto;
    }
}

/* DESKTOP L */
@media screen and (min-width: 1440px) {
    #root {
        width: 50%;
        margin: auto;
    }
}

/* DESKTOP 4K  */
@media screen and (min-width: 2560px) {
    #root {
        width: 30%;
        margin: auto;
    }
}