html, body, #root, #root>div {
    height: 100%;
    margin: 0;
    background: linear-gradient(white, lightblue, cornflowerblue);
}

.info-box {
    min-width: auto;
    margin: 0 2em;
}

/* phone view */
@media screen and (min-width: 560px) {
    .info-box {
        width: 60%;
    }
}

/* tablet view */
@media screen and (min-width: 760px) {
    .info-box {
        width: 50%;
    }
}

/* laptop view */
@media screen and (min-width: 960px) {
    .info-box {
        width: 40%;
    }
}